[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shepherd-data = {editable = true, extras = ["dev","test"], path = "."}
samplerate = "*"

[dev-packages]

[pipenv]
allow_prereleases = false
