[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shepherd-core = {editable = true, extras = ["dev","test"], path = "shepherd_core/."}
shepherd-data = {editable = true, extras = ["dev","test"], path = "shepherd_data/."}
samplerate = "*"

[dev-packages]

[pipenv]
allow_prereleases = false
